body {
  background-color: #e63326;
}

h1 {
    margin : 0 0 15px;
    font-size   : 26px;
    line-height : 1.8em;
    font-weight : 700;
    }

h2{
   color: #8a6d3b;
}

h3 {
    color: #000000;
}

span{
  color: #9d211d;
}

.columns-block {
  display : -webkit-flex;
  display : flex;
  -webkit-flex-direction : row;
  flex-direction : row;
  margin : 60px auto;
  padding : 0;
  box-shadow : 0 0 0 1px #eaeaea;
  flex-wrap: wrap;
}

.blocks {
  box-sizing : border-box;
}

.left-col-block {
  -webkit-flex : 1 0 0;
  background   : rgba(255, 255, 255, .8);
  border-right : 1px solid #eaeaea;
}

.right-col-block {
  -webkit-flex : 2 0 0;
  background   : #ffffff;
}

.gray-bg {
  background-color : #ffffff;
}

.section-wrapper {
  padding       : 50px;
  border-bottom : 1px solid #eaeaea;
}

.header {
  padding  : 20px !important;
  margin   : 0;
  position : relative;
}

.header .profile-img {
  margin-bottom : 50px;
}

.header .content {
  width  : 100%;
  margin : 0 auto;
}

.header .content h1 {
  line-height : 1;
  margin      : 0 0 5px;
}

.header .content .lead {
  font-size : 18px;
}

.header .content .about-text {
  margin : 10px 0;
}

.header .btn {
  margin-top : 40px;
}

.expertise-item {
  margin-bottom : 20px;
}

.expertise-item h3 {
  margin-bottom : 5px;
  font-weight   : 700;
}


